.idea
release
__pycache__
log/
test.py
a.py
server/*
plugins/*
!plugins/ExamplePlugin.py
!plugins/test.py
config/
qb_multi/
perma_backup/
PCRC_recordings/
MCDReforged.spec
mc_task.json
seen.json
PCRC.log
MCDR_update/
