# Config file for MCDReforged

# Language of MCDR
# Language file need to be in lang/ folder, and encoded in utf8
# Examples:
#   en_us
#   zh_cn
language: en_us


# The working directory of the server. If you use default value server/ I will suggest you to put all the files related to the server to the server/ folder
working_directory: server


# The console command to start the server. Examples:
#   java -Xms1G -Xmx2G -jar minecraft_server.jar nogui
#   java -Djline.terminal=jline.UnsupportedTerminal -jar BungeeCord.jar
#   ./start.sh
#   start.bat
start_command: java -Xms1G -Xmx2G -jar minecraft_server.jar nogui


# The parser to parse the output of the server. Available options:
# vanilla_parser
#   for Vanilla / Carpet / Fabric server
#
# bukkit_parser
#   For Bukkit / Spigot server with Minecraft version below 1.14, and Paper server in all version
#
# bukkit_parser_14
#   For Bukkit / Spigot server with Minecraft version 1.14 and above
#
# forge_parser
#   For Forge server
#
# cat_server_parser
#   For CatServer server
#
# bungeecord_parser
#   for Bungeecord server
#
# waterfall_parser
#   for Waterfall server
#
parser: vanilla_parser


# the encoding / decoding format used to encode / decode message to the server. Choose the best method for your os. Examples:
#   utf8
#   gbk
# leave it blank for MCDR to auto detect system encoding
encoding:
decoding:


# A list of folder path where MCDR will search for plugin to load
plugin_folders:
- plugins
# - path/to/my/plugin/folder


# rcon setting
# if enable, plugins can use rcon to query command from the server
enable_rcon: false
rcon_address: 127.0.0.1
rcon_port: 25575
rcon_password: password


# If set to true, MCDR will not start the console thread for handling console command input
# Don't change it to true unless you know what you are doing
disable_console_thread: false


# If set to true, if MCDR detects a newer version it will automatically download it
check_update: false


# If set to true, if MCDR detects a newer version it will automatically download it
download_update: true


# Debug mode switches. Don't change it to true unless necessary
debug:
  all: false
  parser: false
  plugin: false
  permission: false
