# The configuration file for MCDReforged
# See the document https://mcdreforged.readthedocs.io/en/latest/configuration.html for more details


# =========================================
# |          Basic Configuration          |
# =========================================


# The language that MCDR will use to display information
# Examples: "en_us", "zh_cn"
language: en_us


# The working directory of the server. If you use the default value server/ I will suggest you put all the files related to the server into the server/ directory
working_directory: server


# The console command to start the server. Examples:
start_command: java -Xms1G -Xmx2G -Dfile.encoding=UTF-8 -jar minecraft_server.jar nogui


# The handler to the specific way to parse the standard output text of the server and the correct command for server control
#   vanilla_handler    , for Vanilla / Carpet / Fabric server
#   beta18_handler     , for Vanilla server in beta1.8 versions
#   bukkit_handler     , for Bukkit / Spigot server with Minecraft version below 1.14, and Paper / Mohist server in all version
#   bukkit14_handler   , for Bukkit / Spigot server with Minecraft version 1.14 and above
#   forge_handler      , for Forge server
#   cat_server_handler , for CatServer server
#   bungeecord_handler , for Bungeecord server
#   waterfall_handler  , for Waterfall server
#   velocity_handler   , for Velocity server
handler: vanilla_handler


# The codec format to encode messages to stdin / decode messages from stdout of the server
# Leave it blank for MCDR to use the system encoding
# For vanilla Minecraft servers, you need to set "encoding" to utf8, since they always read stdin with UTF-8
# Examples: "utf8", "gbk"

# MCDR -> Server
encoding: utf8

# Server -> MCDR
decoding: utf8


# The list of directory path where MCDR will search for plugins to load
# Example: "path/to/my/plugin/directory"
plugin_directories:
- plugins


# Minecraft RCON setting
# If enabled, plugins can use rcon to query commands from the server
rcon:
  enable: false
  address: 127.0.0.1
  port: 25575
  password: password


# If set to true, MCDR will detect if there's a new version every 24h
check_update: true


# Advance console switch powered by prompt-toolkit
# Set it to false if you need to redirect the stdin/stdout of MCDR
advanced_console: true


# ==========================================
# |         Advanced Configuration         |
# ==========================================


# When set to true, MCDR will not start the console thread for handling console command input
# Don't change it to true unless you know what you are doing
disable_console_thread: false


# When set to true, MCDR will remove all console font formatter codes before any message gets printed onto the console
disable_console_color: false


# A list of customizing info reactor classes to handle the info instance. The classes need to be subclasses of AbstractServerHandler
custom_handlers:


# A list of customizing info reactor classes to handle the info instance. The classes need to be subclasses of AbstractInfoReactor
custom_info_reactors:


# The required time interval in second for watchdog to consider the task executor thread is not responding. Set it to 0 to disable watchdog
watchdog_threshold: 10


# When set to true, MCDR will start a handler detection on MCDR startup for a while,
# to detect possible configuration mistake of the :ref:`configuration:handler` option
handler_detection: true


# Debug mode switches
debug:
  all: false
  mcdr: false
  handler: false
  reactor: false
  plugin: false
  permission: false
  command: false
  task_executor: false


# =========================================
# |         Missing Configuration         |
# =========================================

# Options below were missing and set by MCDR with the default value
# Remember to check and update them as soon as possible
