/* override table width restrictions */
@media screen and (min-width: 767px) {
    .wy-table-responsive table td, .wy-table-responsive table th {
        /* !important prevents the common CSS stylesheets from overriding
           this as on RTD they are loaded after this stylesheet */
        white-space: normal !important;
    }

    .wy-table-responsive {
        margin-bottom: 24px;
        max-width: 100%;
        overflow: visible !important;
    }
}

/* +50px width for the main doc container nav */
.wy-nav-content {
    max-width: 850px !important;
}

/* prevent keyword in codeblock in docstring from being italic */
html.writer-html4 .rst-content dl:not(.docutils) .k, html.writer-html5 .rst-content dl[class]:not(.option-list):not(.field-list):not(.footnote):not(.glossary):not(.simple) .k {
    font-style: inherit !important;
}

/* ofc */
.highlight {
    tab-size: 4;
}
