# core
sphinx>=6.2.1               # core
sphinx-intl>=2.1.0          # locale
furo>=2024.5.6              # the theme of the webside
sphinxcontrib-jquery        # theme might need this, in case it doesn't exist
Babel==2.15.0               # Unified the version to prevent different versions from appearing in .po comments

# extensions
sphinx-autobuild               # autobuild server
sphinx_copybutton              # add copy button on codeblock
sphinx-design                  # the sphinx-design components lib
sphinxcontrib-mermaid>=1.0.0   # add mermaid graph support
sphinx_inline_tabs             # codeblock tabs are nice
sphinx-prompt                  # make ">>>" prefix in prompt section unselectable
sphinxcontrib.asciinema        # add asciinema animation support
sphinx-docsearch               # Algolia Docsearch
